@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-size: 15px;
  background-color: hsl(212, 45%, 89%);
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-section {
  background-color: #fff;
  width: 350px;
  padding-bottom: 1rem;
  text-align: center;
  font-family: "Outfit", sans-serif;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.image {
  width: 350px;
  padding: 20px;
}

.content h3 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0 0.3rem 0.5rem 0.3rem;
  padding: 0 1rem 0 1rem;
  color: hsl(218, 44%, 22%);
}

.content p {
  font-weight: 400;
  font-size: 1.2rem;
  padding: 10px;
  line-height: 1.5rem;
  margin: 0 0.3rem 0.5rem 0.3rem;
  color: hsl(220, 15%, 55%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
